*.user

cmake-build-*/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts
CMakeUserPresets.json

.idea

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store
*.entitlements
*.cpb
Makefile

workspace.xml
xcuserdata